
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{{ title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.title or site.title }}">
    <meta property="og:title" content="{{ title }} | {{ site.title }}" />
    <meta property="og:description" content="{{ page.title or site.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | url }}" />
    <meta property="og:image" content="{{ site.url }}/assets/images/logo.png" />
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    {% include "partials/header.njk" %}
    <main class="container">
      {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
